<%- include('header') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="scripts/multiplayerGame.js"></script>
<div class="container mt-5">
    <div class="row pt-5 justify-content-center">
        <form id="selectRoomForm">
            <label>Please enter a room number [0-99]</label>
            <input type="number" class="form-control" id="selectRoomInput" placeholder="99" required>
            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-success mt-auto" onclick="connect()">Let's play!</button>
            </div>
        </form> 
        <div class="d-none mr-5 mt-5" id="leftPlayerInfo">
            <p>Player ID: <span id="Lid">NULL</span> </p>
            <p>Player Color: <span id="Lcolor">NULL</span></p>
        </div>

        <div class="d-none mb-5" id="board">
            <p class="mx-auto mb-2 text-center" id="topInfo">Room ID: <span id="roomId">NULL</span></p>
            <div class="d-flex justify-content-center">
                <table background="assets/board.png" class="block">    
                    <% for (let i = 0; i < 15; i++) {%>
                        <tr id="<%= i %>">
                        <% for (let j = 0; j < 15; j++) {%>
                            <td id="<%= i %>i<%= j %>"></td>
                        <% } %>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div> 
        
        <div class="d-none ml-5 mt-5" id="rightPlayerInfo">
            <p>Player ID: <span id="Rid">NULL</span></p>
            <p>Player Color: <span id="Rcolor">NULL</span></p>
        </div>
    </div>
</div>
<%- include('foot') %>