<%- include('header') %>
<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <table background="assets/board.png">    
            <% for (let i = 0; i < 15; i++) {%>
                <tr id="<%= i %>">
                <% for (let j = 0; j < 15; j++) {%>
                    <td id="<%= i %>i<%= j %>"></td>
                <% } %>
                </tr>
            <% } %>
        </table>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button type="buttonBlack" class="btn btn-dark mr-3 resetBtn", id="buttonBlack">Play Black</button>
        <button type="button" class="btn btn-info ml-3 resetBtn" id="buttonWhite">Play white</button>
    </div>
</div>
<script src="scripts/game.js"></script>
<%- include('foot') %>